/*h1{

    width: 1000px;
    height: 1000px;
    margin: 20px 20px 30px 30px;
    border-style: groove;
    border-width: 0.5cm;
    border-color: aqua black green yellow;
    border-radius: 300px ;
    padding:2cm 3cm 3cm 2cm;
}*/